body {
  margin: 0;
  padding: 0;
  border: 0;
}

a:link {
  text-decoration: none;
  color: #e5e7eb;
  font-size: 18px;
}

.sec-1 {
  background-color: #1f2937;
  padding: 0px 150px 90px 150px;
  font-family: "Hero Secondary", sans-serif;
  font-size: 18px;
  color: #e5e7eb;
}

h1 {
  font-family: "Hero Main", sans-serif;
  font-size: 48px;
  color: #f9faf8;
  font-weight: 900;
  margin-top: 0;
  margin-bottom: 0;
}

h4 {
  color: #f9faf8;
  font-size: 24px;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
  padding: 10px;
}
.nav-box {
  display: flex;
}

.nav-box div {
  flex: 1;
  align-content: center;
}

.head-box {
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding-top: 80px;
  padding-bottom: 40px;
}

.head-box div {
  flex: 1;
}

.head-pic img {
  height: 100%;
  width: 100%;
}

.head-para {
  padding-right: 20px;
}

.head-pic {
  padding-left: 20px;
}

button {
  background-color: #3882f6;
  color: white;
  padding: 4px 8px 4px 8px;
  width: 100px;
  border-color: #3882f6;
  border-radius: 5px;
  font-weight: 600;
}

.sec-2 {
  display: flex;
  flex-direction: column;
  padding: 60px 200px 100px 200px;
}

.sec-2 h3 {
  font-family: "Hero Secondary", sans-serif;
  font-size: 36px;
  color: #1f2937;
  font-weight: 900;
  text-align: center;
  margin-top: 0;
  margin-bottom: 40px;
}

.sec2-imgs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sec2-imgs div {
  display: flex;
  flex-direction: column;
  width: 150px;
  height: 200px;
  padding: 10px;
}

.sec2-imgs img {
  height: 100%;
  width: 100%;
  border-radius: 10px;
}

.sec2-imgs p {
  margin-top: 5px;
  margin-bottom: 0;
  text-align: center;
  font-family: "Hero Secondary", sans-serif;
  font-size: 16px;
  color: grey;
}

.sec-3 {
  background-color: #e5e7eb;
  display: flex;
  flex-direction: column;
  padding: 80px 160px 80px 160px;
}

.sec3-quote p {
  font-family: "Hero Secondary", sans-serif;
  font-style: italic;
  font-size: 36px;
  color: #1f2937;
  margin: 0;
  font-weight: 100;
}

.sec3-author p {
  font-family: "Hero Secondary", sans-serif;
  text-align: right;
  font-weight: 600;
  font-size: 16px;
  margin: 0;
  padding-right: 10px;
}

.sec-4 {
  padding: 80px 120px 80px 120px;
}

.blue-box {
  background-color: #3882f6;
  display: flex;
  flex-direction: row;
  padding: 35px 100px 35px 100px;
  border-radius: 5px;
  color: white;
  justify-content: space-between;
}

.call-action p {
  margin: 0;
  font-family: "Hero Secondary", sans-serif;
  font-weight: 100;
  font-size: 12px;
}

.call-action p:first-of-type {
  font-weight: 800;
  font-size: 18px;
}

.signup-button button {
  border-color: white;
}

footer {
  background-color: #1f2937;
  color: white;
  padding: 30px 200px 30px 200px;
  text-align: center;
  font-family: "Hero Secondary", sans-serif;
  font-size: 14px;
  font-weight: 150;
}
